<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Created Task list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<div class="container">
    <!--<nav class="navbar navbar-light bg-light">
        <a class="btn btn-danger btn-sm" href="/user/logout">Sign Out</a>
    </nav>-->
    <br>
    <h2 class="text-center">Created Task list</h2>

    <div id="getResultDiv">
        <table class="table table-bordered" id="myCreatedTaskTable">
            <thead>
            <tr class="text-center">
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>CreatedBy</th>
                <th>Assign To</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:if="${#lists.isEmpty(lists) == true}">
                <td colspan="2"> No Users Available </td>
            </tr>
            <tr th:each="task : ${lists}"
                th:id="${'table-row-' + task.id}">

                <td th:text="${task.id}">Id</td>
                <td th:text="${task.name}">Name</td>
                <td th:text="${task.description}">Description</td>
                <td th:text="${task.createdBy.firstName +' '+task.createdBy.lastName}">CreatedBy</td>
                <td th:text="${task.assignTo.firstName +' '+ task.assignTo.lastName}">AssignTo</td>

                <td class="text-center"><a th:href="${'/user/task/edit/' + task.id}" id="popup">Edit</a></td>
                <td class="text-center">
                    <button th:onclick="|deleteData(${task.id})|" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myCreatedTaskTable').DataTable();
    });
</script>
<br>
<div th:replace="fragments/general.html :: footer"></div><br>
</body>
</html>