<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container"><br>
    <h1 class="text-success text-center">Registration page</h1><br>
    <div class="col-lg-6 m-auto d-block">

        <form action="/user/register" method="post" id="registration_form" class="bg-light">
            <div class="form-group">
                <label for="form_fname">First Name:</label>
                <input type="text" class="form-control" id="form_fname" name="firstName" placeholder="First Name" autocomplete="off">
                <span class="text-danger font-weight-normal font-italic" id="fname_error_message"></span>
            </div>
            <div class="form-group">
                <label for="form_lname">Last Name:</label>
                <input type="text" class="form-control" id="form_lname" name="lastName" placeholder="Last Name" autocomplete="off">
                <span class="text-danger font-weight-normal font-italic" id="lname_error_message"></span>
            </div>
            <div class="form-group">
                <label for="form_pass">Password:</label>
                <input type="password" class="form-control" id="form_pass" name="password" autocomplete="off"/>
                <span class="text-danger font-weight-normal font-italic" id="pass_error_message"></span>
            </div>
            <div class="form-group">
                <label for="form_conpass">Confirm Password:</label>
                <input type="password" class="form-control" id="form_conpass" name="confirmPassword" autocomplete="off"/>
                <span class="text-danger font-weight-normal font-italic" id="conpass_error_message"></span>
            </div>

            <div class="form-group">
                <label>Address:</label>
                <input type="text" id="form_street" class="form-control" name="address" placeholder="House address - 29">
                <span class="text-danger font-weight-normal font-italic" id="street_error_message"></span>
            </div>

            <div class="form-group">
                <label for="form_date">Date of Birth</label>:
                <input type="text" class="form-control" id="form_date" name="date" autocomplete="off"/>
                <span class="text-danger font-weight-normal font-italic" id="date_error_message"></span>
            </div>
            <div class="form-group">
                <label for="form_email">Email address:</label>
                <input type="email" class="form-control" name="email" placeholder="Example: biswas@neasy.de" id="form_email"
                       autocomplete="off"/>
                <span class="text-danger font-weight-normal font-italic" id="email_error_message"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="register"/>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(function () {
            $("#fname_error_message").hide();
            $("#lname_error_message").hide();
            $("#pass_error_message").hide();
            $("#conpass_error_message").hide();
            $("#street_error_message").hide();
            $("#postcode_error_message").hide();
            $("#city_error_message").hide();
            $("#date_error_message_error_message").hide();
            $("#email_error_message").hide();

            var error_fname = false;
            var error_lname = false;
            var error_pass = false;
            var error_conpass = false;
            var error_email = false;

            $("#form_fname").focusout(function () {
                check_fname();
            });
            $("#form_lname").focusout(function () {
                check_lname();
            });
            $("#form_pass").focusout(function () {
                check_pass();
            });
            $("#form_conpass").focusout(function () {
                check_conpass();
            });
            $("#form_date").focusout(function () {
                check_date();
            });
            $("#form_email").focusout(function () {
                check_email();
            });

            function check_fname() {
                var pattern = /^[a-zA-Z]*$/;
                var fname = $("#form_fname").val();
                if (pattern.test(fname) && fname !== '') {
                    $("#fname_error_message").hide();
                    $("#form_fname").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#fname_error_message").html("Should contain only Characters");
                    $("#fname_error_message").show();
                    $("#form_fname").css("border-bottom", "2px solid #F90A0A");
                    error_fname = true;
                }
            }

            function check_lname() {
                var pattern = /^[a-zA-Z]*$/;
                var lname = $("#form_lname").val();
                if (pattern.test(lname) && lname !== '') {
                    $("#lname_error_message").hide();
                    $("#form_lname").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#lname_error_message").html("Should contain only Characters");
                    $("#lname_error_message").show();
                    $("#form_lname").css("border-bottom", "2px solid #F90A0A");
                    error_lname = true;
                }
            }

            function check_pass() {
                var password_length = $("#form_pass").val().length;
                if (password_length < 8) {
                    $("#pass_error_message").html("Atleast 8 Characters");
                    $("#pass_error_message").show();
                    $("#form_pass").css("border-bottom", "2px solid #F90A0A");
                    error_pass = true;
                } else {
                    $("#pass_error_message").hide();
                    $("#form_pass").css("border-bottom", "2px solid #34F458");
                }
            }

            function check_conpass() {
                var password = $("#form_pass").val();
                var conpassword = $("#form_conpass").val();
                if (password !== conpassword) {
                    $("#conpass_error_message").html("Password did not Match.");
                    $("#conpass_error_message").show();
                    $("#form_conpass").css("border-bottom", "2px solid #F90A0A");
                    error_conpass = true;
                } else {
                    $("#conpass_error_message").hide();
                    $("#form_conpass").css("border-bottom", "2px solid #34F458");
                }
            }

            function check_email() {
                var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                var email = $("#form_email").val();
                if (pattern.test(email) && email !== '') {
                    $("#email_error_message").hide();
                    $("#form_email").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#email_error_message").html("Invalid Email.");
                    $("#email_error_message").show();
                    $("#form_email").$("#form_email").css("border-bottom", "2px solid #F90A0A");
                    error_email = true;
                }
            }

            $("#registration_form").submit(function () {
                error_fname = false;
                error_lname = false;
                error_pass = false;
                error_conpass = false;
                error_email = false;

                check_fname();
                check_lname();
                check_pass();
                check_conpass();
                check_email();

                if (error_fname === false && error_lname === false && error_email === false && error_pass === false && error_conpass === false) {
                    alert("Registration Successful");
                    return true;
                } else {
                    alert("Please fill the form Correctly.");
                    return false;
                }
            });


        });

    </script>


</div>
</body>
</html>