<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<!--<nav class="navbar navbar-light bg-light">
    <div>
        <button type="button" class="btn btn-primary" onclick="window.location='/user/task/assignList'">
            Assigned Task List
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="window.location='/user/task/createdTask'">
            Created Task
        </button>
    </div>
    <div class="align-content-right">
        <a class="btn btn-danger btn-sm" href="/user/logout">Sign Out</a>
    </div>
</nav>-->
<div class="container">
    <br>
    <h2 class="text-center">Create New Task</h2>
    <div class="col-sm-6">
        <form method="post" action="/user/task/save" class="form-control-lg">

            <br><br>
            <div class="form-group">
                <label for="name">Task Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter task name" id="name">
            </div>
            <div class="form-group">
                <label for="description">Task Description:</label>
                <textarea class="form-control" rows="5" name="description"
                          placeholder="Enter task description ..." id="description"></textarea>
            </div>

            <div class="col-sm-6 bg-info">
                <div class="form-group">
                    <label class="control-label">Assign To:</label>

                    <select class="form-control" id="assignToId" name="assignToId">
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.firstName + ' ' + user.lastName}">Probir
                        </option>
                      <!--<option th:each="user : ${users}"
                                th:value="${user.firstName + ' ' + user.lastName}">Probir
                        </option>-->
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#assignToId').select2();
    });
</script>
<br><br>
<!--<div th:replace="fragments/general.html :: footer"></div>-->
<br>
</body>
</html>